<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Comuter//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyLists-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>URL</key>
		<dict>
			<key>EyeTV</key>
			<dict>
				<key>URLPatterns</key>
				<array>
					<string>eyetv://.*</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
